* {
    padding: 0; /*removes browser default padding*/
    margin: 0; /*removes browser default margins*/
    box-sizing: border-box; /*constrains the height and width of the content in relation to the CSS Box*/
}
body {
    font-family: helvetica, arial, sans-serif;
    color: #39a6b2;
}
/*header stylization*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;    
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: #fce138;
    margin: 0;
    display: inline; /*default 'block' which spans the entire width of the <body>, setting it to inline allows other elements to be sit beside it*/
}

header a {
    text-decoration: none;
    color:#fce138
}

header nav {
    float: right;
    margin: 7px 0;
    
}

header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    
}

header nav ul li:hover{
    text-decoration: underline;
}

/*footer stylization*/
footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5; /*line spacing*/
    text-align: right;
}

footer a {
    color: #024e76;
}